<table >
{% for price in prices %}
   <tr>
       <td style="text-align:left">{{price.name}}</td>
       <td style="text-align:right">{{price.price | currency }}</td>
       <td style="text-align:right">{{price.marketCap | formatMarketCap}}</td>
       <td style="text-align:right">{{price.change | formatPercent}}</td>
   </tr>
{% endfor %}
</table>
