body {
  background: transparent;
}

.image-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

video.image-wrapper {
  object-fit: fill;
}

.smart-mirror\/mm-image.module-header {
  display: none;
}
